footer{
    background-color: #172337;
    color: white;
    padding-top: 3%;
}

.Footer h6{
    color: #878787;
    font-size: 1rem;
}

.Footer > div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-size: .75em;
    font-weight: 100;
}

.Footer a{
    color: white;
    line-height: 1.3rem;
    font-size: 13px;
    font-weight: 600;
    font-family: sans-serif;
}

.Footer p{
    margin: 0;
    font-size: .96em;
    line-height: 1.2rem;
}

footer i{
    color: gold;
}

footer span{
    font-size: .75em;
    cursor: pointer;
}
.borderline{
     border-bottom: 3px solid white;
  height: 300px;
}